/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes theme-button-pointer {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4px);
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: liked-heart 0.3s alternate ease-in 0.1s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: #f00;
  transition: fill 0.3s 0.06s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: #f00;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body {
  fill: #f00;
  transition: fill 0.3s 0.05s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: #f00;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: #f00;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: liked-sparks 0.3s 0.3s alternate ease-in;
}

@keyframes liked-heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes liked-sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hue-rotation {
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes image__space {
    0% {
        filter: brightness(100%) contrast(100%) saturate(100%) hue-rotate(220deg) blur(1.5px) drop-shadow(0 0 10px #00ffff);
    }
    25% {
        filter: brightness(80%) contrast(150%) saturate(300%) hue-rotate(120deg) blur(1.5px) drop-shadow(0 0 40px #5805f3);
    }
    50% {
        filter: brightness(60%) contrast(350%) saturate(200%) hue-rotate(220deg) blur(1.5px) drop-shadow(0 0 50px #3700ff);
    }
    75% {
        filter: brightness(70%) contrast(150%) saturate(400%) hue-rotate(320deg) blur(1.5px) drop-shadow(0 0 30px #ff0479);
    }
    100% {
      filter: brightness(100%) contrast(250%) saturate(100%) hue-rotate(420deg) blur(1.5px) drop-shadow(0 0 20px #ff0000);
    }
}